.results {
  padding: 0;
  box-sizing: border-box;
  margin: 60px auto 60px;
  width: 90%;
  // background: linear-gradient(180deg, #fff 20%, #d5fff7 50%, #d5fff7 80%, #fff);
  &__group-title {
    margin: 80px auto 40px;
    color: black;
    text-align: center;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    width: 60%;
    font-size: 34px;
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__img-wrapper {
    display: flex;
    column-gap: 20px;
    width: 100%;
  }
  &__title {
    font-weight: 900;
    font-size: 38px;
    line-height: 58px;
    margin: 160px auto 20px;
    text-align: center;
    width: 50%;
  }
  &__explanation {
    font-size: medium;
    color: rgba($color: #000000, $alpha: 0.9);
    margin: 10px 0 80px 40px;
    flex-basis: 1;

    &_note {
      font-style: italic;
      font-weight: 600;
      font-size: 20px;
    }
  }

  &__explanation-container {
    margin: auto;
    display: flex;
    row-gap: 20px;
    column-gap: 20px;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    // width: 50%;
  }
  &__table {
    object-fit: cover;
    width: 100%;
    height: 100%;
    align-self: center;
    width: 600px;
  }
  h4 {
    font-size: 18px;
    margin: 10px 0;
  }
  &__sm {
    width: -webkit-fill-available;
  }
}

@media screen and (max-width: 1800px) {
  .results__img-wrapper {
    flex-direction: column;
    row-gap: 20px;
  }

  .results__table {
    margin-bottom: 50px;
    margin: 20px auto 0;
    width: 80%;
    // background-size: 100% 100%;
  }

  .results__explanation-container {
    flex-direction: column;
    row-gap: 20px;
    column-gap: 20px;
  }
  .results__group-title {
    width: 90%;
  }
}

@media screen and (max-width: 900px) {
  .results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;

    &__title {
      max-width: 100%;
      margin-top: 200px;
      font-size: 24px;
      width: 100%;
    }

    &__explanation-container {
      flex-direction: column;
    }

    &__small-img {
      width: 370px;
    }
  }
  .results__group-title {
    margin: 0 0 30px;
    font-size: 20px;
  }
  .svg-container {
    margin: auto;
  }
}

@media screen and (max-width: 550px) {
  .results__title {
    margin-top: 250px;
    font-size: 16px;
    width: 90%;
  }
  .results__small-img {
    width: 100%;
  }
}
