.results {
  margin: 60px auto 60px;
  width: 100%;
  // background: linear-gradient(180deg, #fff 20%, #d5fff7 50%, #d5fff7 80%, #fff);

  &__title {
    font-weight: 900;
    font-size: 38px;
    line-height: 58px;
    margin: 25px auto;
    text-align: center;
    width: 50%;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    // width: 50%;
  }
}

@media screen and (max-width: 1000px) {
  .results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;

    &__title {
      max-width: 100%;
    }
  }
  .results__title {
    font-size: 30px;
    line-height: 35px;
  }
  img {
    width: 95%;
  }
}
