.counter {
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px 60px;
  column-gap: 20px;

  &__title {
    font-weight: 500;
    font-size: 33px;
    line-height: 58px;
    margin: auto;
    text-align: center;
    margin-top: 80px;
    font-family: 'Mulish', sans-serif;
  }
}
@media screen and (max-width: 1309px) {
  .counter {
    flex-direction: column;
    margin: -20px auto 26px;
    padding: 0;
  }
}
