.description {
  margin: auto;
  width: 70%;
  background: linear-gradient(180deg, #fff 20%, #d5fff7 50%, #d5fff7 80%, #fff);

  &__container {
    width: 80%;
    box-sizing: border-box;
    margin: 30px auto;
    transform: scale(1.1);
  }

  &__text {
    max-width: 690px;
    margin-top: 50px;
    font-size: 20px;
  }
  &__title {
    margin-top: 150px;
    font-size: 36px;
    text-align: center;
  }
  &__subtitle {
    font-size: 14px;
  }
}

@media screen and (max-width: 1280px) {
  .description {
    &__title {
      margin-top: 200px;
      max-width: 100%;
      font-size: 26px;
    }
  }
}

@media screen and (max-width: 767px) {
  .description {
    &__title {
      margin-top: 250px;
      max-width: 100%;
      font-size: 26px;
    }
  }

  .description {
    width: 100%;
  }
}
