.card {
  display: flex;
  row-gap: 20px;

  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  list-style: none;
  position: relative;
  flex: 0 0 200px;
  margin: 50px auto;

  &__image {
    align-self: center;
  }

  &__info {
    font-weight: 300;
    margin: 0;
    justify-content: flex-start;
    text-align: center;
    height: 100px;
  }
  &__number {
    text-align: center;
  }
  &__count-container {
    flex-basis: 0;
    margin: auto;
  }
  &__count-number {
    border: none;
    text-align: center;
    transition-delay: 1s;
  }
}

@media screen and (max-width: 1309px) {
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;

    &__info {
      font-size: 16px;
      width: 230px;
      height: 80px;
    }

    &__ {
      font-size: 16px;
      width: 230px;
    }
  }
}
