.grid {
  margin: auto;
  width: 80%;
  display: grid;
  padding: 18px 68px 0;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}
@media screen and (max-width: 1279px) {
  .grid {
    padding-top: 30px;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
