.conclusion {
  margin: auto;
  width: 80%;
  background: linear-gradient(180deg, #fff 20%, #d5fff7 50%, #d5fff7 80%, #fff);

  &__container {
    width: 80%;
    box-sizing: border-box;
    margin: 30px auto;
  }

  &__text {
    width: 90%;
    margin-top: 50px;
    font-size: 20px;
  }
  &__title {
    margin-top: 50px;
    font-size: 54px;
    text-align: center;
  }

  &__subtitle {
    font-size: 22px;
  }
}

@media screen and (max-width: 1280px) {
  .conclusion {
    padding-top: 0;

    &__title {
      max-width: 100%;
    }
  }
}
