.slide {
  box-sizing: border-box;
  height: calc(100vh - 90px);
  position: relative;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slide__slogen {
    position: absolute;
    top: 70%;
    left: 8%;
    width: 60%;
    text-align: left;
    color: white;
    z-index: 100;
    font-size: 2rem;
    line-height: 1.25;
  }

  @media screen and (max-width: 1500px) {
    .slide__slogen {
      width: 80%;
      font-size: 1.25rem;
    }
  }

  @media screen and (max-width: 600px) {
    .slide__slogen {
      width: 90%;
      font-size: 1rem;
      line-height: 1.2;
    }
  }
}
